<section style="background-color: #eee" class="min-vh-100">
    <div class="container">
        <div class="row ">
            <!-- Heading  -->
            <div class="col-12 m-3 shadow rounded-1 p-3  bg-light ">
                <div class="row">
                    <div class="col-4">
                        <h2>BENEFIT ISSUANCE</h2>
                    </div>
                </div>
            </div>


            <div class="col-12 m-3 shadow rounded-1 p-3 bg-light ">
                <!-- Search Component Section  -->
                <div class="row">
                    <div class="col-2">
                        <div class="mb-3">
                            <label for="searchPlanName" class="form-label">BI ID</label>
                            <input type="text" name="planName" id="searchPlanName" class="form-control">
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="mb-3">
                            <label for="searchPlanStatus" class="form-label">Date</label>
                            <input type="text" name="planName" id="searchPlanStatus" class="form-control">
                        </div>
                    </div>

                    <div class="col-2 d-flex">
                        <div class="mb-3  align-self-center">
                            <button class="btn btn-primary"><i class="bi bi-search me-2"></i>Search</button>
                        </div>
                    </div>
                </div>

                <hr class="mt-1 mb-3" />

                <!-- Search Body  -->
                <!-- <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">BI ID</th>
                                    <th scope="col">CASE NUM</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Item</td>
                                    <td>Item</td>
                                    <td>Item</td>
                                    <td>Item</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div> -->

                <div class="row">
                    <app-page-under-construction></app-page-under-construction>
                </div>
            </div>



        </div>
    </div>
</section>