<section style="background-color: #eee;" class="p-3 min-vh-100">
    <div class="row ">
        <div class="col-12 m-3 shadow rounded-1 p-3 fs-4 bg-light ">
            <div class="row">
                <div class="col-4">
                    <h2>Income Details</h2>
                </div>
            </div>
        </div>

        <!-- Income Details  -->
        <div class="col-12 m-3 p-3 bg-light">
            <form id="incomeDetailsForm" #incomeDetails="ngForm" (ngSubmit)="saveIncome(incomeDetails)">
                <div class="mb-3">
                    <label for="dcCaseNum" class="form-label">Case Number</label>
                    <input type="number" name="caseNum" id="dcCaseNum" class="form-control " ngModel>
                </div>
                <div class="mb-3">
                    <label for="dcEmpIncome" class="form-label">Salary</label>
                    <input type="number" name="empIncome" id="dcEmpIncome" class="form-control" ngModel>
                </div>
                <div class="mb-3">
                    <label for="dcRentIncome" class="form-label">Rent Income</label>
                    <input type="number" name="rentIncome" id="dcRentIncome" class="form-control " ngModel>
                </div>
                <div class="mb-3">
                    <label for="dcPropertyIncome" class="form-label">Property Income</label>
                    <input type="number" name="propertyIncome" id="dcPropertyIncome" class="form-control " ngModel>
                </div>
            </form>
           
            <button type="submit" class="btn btn-primary" form="incomeDetailsForm">Submit</button>
        </div>
     </div>
</section>
