<section style="background-color: #eee;" class="p-3 min-vh-100">
    <div class="row ">

        <!-- Heading  -->
        <div class="col-12 m-3 shadow rounded-1 p-3  bg-light ">
            <form action="">
                <div class="mb-3">
                    <label for="" class="form-label">Case Number</label>
                    <input type="number" name="" id="casenum" class="form-control">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Determine Eligibility</button>
                </div>
            </form>
        </div>

        <!-- Body  -->
        <div class="col-12 m-3 shadow rounded-1 p-3  bg-light ">
            <form action="">
                <div class="mb-3">
                    <label for="" class="form-label">Eligibility Id</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Plan Name</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Plan Status</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Plan Start Date</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Plan End Date</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Denial Reason</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Benifit Amount</label>
                    <input type="number" name="" id="casenum" class="form-control" disabled>
                </div>



            </form>
        </div>
    </div>
</section>
